.header {
  background-color: var(--cor-12);
}

.header_container {
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  flex-wrap: wrap;
  gap: 20px;
}

.header_ul {
  gap: 30px;
}

.header_nav a {
  font: 700 1.125rem/1.35 "Poppins", sans-serif;
  padding: 16px;
  color: var(--cor-0);
  position: relative;
}

.header_nav a:hover::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 75px;
  height: 2px;
  left: 20px;
  bottom: 10px;
  background-color: aliceblue;
}
