.header {
  background-color: var(--cor-12);
}

.header_container {
  justify-content: space-between;
  align-items: center;
  padding: 30px 10px;
  flex-wrap: wrap;
  gap: 20px;
}

.header_ul {
  flex-wrap: wrap;
  gap: 40px;
}

.header_nav a {
  display: inline-block;
  font: 500 1.2rem "Poppins", sans-serif;
  padding: 16px 0;
  color: var(--cor-0);
  position: relative;
}

.header_nav a:hover::before {
  content: "";
  position: absolute;
  display: inline-block;
  width: 75px;
  height: 2px;
  bottom: 10px;
  background-color: aliceblue;
  transition: 300ms;
}

@media (max-width: 800px) {
  .header_container {
    padding: 10px 20px;
  }
  .header_ul {
    justify-content: center;
  }
  .font-1-xxl {
    font-size: 10px;
  }
  .header_nav a {
    background-color: var(--cor-9);
    padding: 5px 10px;
    border-radius: 4px;
  }
  .header_nav a:hover {
    background-color: var(--cor-7);
  }
  .header_nav a:hover::before {
    display: none;
  }
  .header_img {
    padding: 16px 0;
  }
}

@media (max-width: 600px) {
  .header_container {
    justify-content: center;
  }
}
